package conf

import (
	"fmt"
	"os"
)

type Config struct {
	DbHost, Xpath, Tpath, UploadDir, MySQLHost, MySQLDB, MySQLUser, MySQLPass, DemoUser string
}

var Conf Config

//Configuration ...
func Configuration() Config {
	name, err := os.Hostname()
	if err == nil {
		Conf.DemoUser = "myemail@address"
		if name == "MY PRODUCTION SERVER" {
			//PRODUCTION
			Conf.Tpath = ""//templates
			Conf.Xpath = ""//$GOBIN
			Conf.DbHost = "other dbhost!"
			Conf.UploadDir = ""
			Conf.MySQLHost = ""
			Conf.MySQLDB = ""
			Conf.MySQLUser = ""
			Conf.MySQLPass = ""
		} else { //imac
			Conf.Tpath = ""
			Conf.Xpath = ""
			Conf.DbHost = "127.0.0.1"
			Conf.UploadDir = ""
			Conf.MySQLHost = "127.0.0.1"
			Conf.MySQLDB = "mycrohnscolitis"
			Conf.MySQLUser = ""
			Conf.MySQLPass = ""
		}
	} else {
		fmt.Printf("Error: %v\n", err)
	}
	return Conf
}